<div class="bg-teal-900 p-5 flex gap-10 align-items-center">
	<p class="text-xl font-bold mb-4 text-white">Nightclub</p>
	<ul class="list-unstyled flex gap-4 text-white">
		<li><a class="flex items-center gap-2" href="{{ path('accueil') }}"> {{ ux_icon('lucide:home') }} Accueil</a></li>
		<li><a class="flex items-center gap-2" href="{{ path('app_soiree_index') }}"> Soirées</a></li>
		<li><a class="flex items-center gap-2" href="{{ path('app_artiste_index') }}"> Artistes</a></li>
        <li><a class="flex items-center gap-2" href="{{ path('contact') }}"> {{ ux_icon('lucide:user') }}Contact</a></li>
        <li><a class="flex items-center gap-2" href="{{ path('apropos') }}"> {{ ux_icon('lucide:archive') }}À propos</a></li>
	</ul>
</div>
